@media(max-width:768px){
    html{
        font-size: 11px;
    }
    .aboutpage-container .sect-video{
        width: 100%;
    }
    .aboutpage-container .section-left{
        width: 80%;
    }
    .aboutpage-container .sect-foot .foot-rit{
        display: none;
    }
    .aboutpage-container .sect-foot .foot-left{
        width: 100%;
    }
    .aboutpage-container .sect-video{
        &:before{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.68);
            width: 100%;
        }
    }
}


@media(max-width:600px){
    
    .sect-foot{
        display: none !important;
    }
    .header{
        padding: 20px 12px;
    }
    .aboutpage-container .section .section-left{
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px;
    }
    .sect-foot-mobile{
        left: 0;
        bottom: 60px;
        z-index: 3;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex !important;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 12px;
        position: absolute;
        width: 100%;
      
        .number{
            font-size: 41px;
            color:#ffffff;
            font-weight: 800;
            margin-right: 24px;
        }
        h4{
            font-weight: 700;
        }
    }
    .page-link{
        a{
            font-size: 22px;
            color:#ffffff;
            text-transform: uppercase;
        }
    }
    .extras{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .sociallinks{
            width: calc(100% - 170px);
            h4{
                display: none;
            }
            ul{
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
            li{
                list-style: none;
                padding: 0;
                a{
                    font-size: 22px;
                   
                }
            }
        }
    }
    
}


// @media(max-width:480px){
    
// }


// @media(min-width:768px){

// }
@media(min-width:600px){
    // scoail links

.sociallinks{
    position: fixed;
    width: 50px;
    top:50%;
    left: 4%;
    transform: translateY(-50%);
    z-index: 4;
    ul{
        padding: 0;
        margin: 0;
    }
    li{
        padding-bottom: 15px;
        list-style: none;
    }
    a{
        @include font-size(20); 
    }
    h4{
        transform: rotate(-180deg);
        width: auto;
        position: relative;
        bottom: 0;
        left: 0;    
        letter-spacing: 3px;
        color: #535252;
      @include font-size(18); 
      writing-mode: tb-rl;
    }
  
}

// enquire sect
.requate{
    position: fixed;
    right: 0px;
    top: 40%;
    transform: translateX(calc(50% - 52px)) translateY(-50%) rotate(90deg);
    z-index: 102;
}
}
@media(min-width:769px){
    html{
        font-size: 11px;
    }
}



// @media(min-width:991px){

// }
// @media(min-width:1024px){
// }
// @media(min-width:1366px){
// }
@media(min-width:1500px){
    html{
        font-size: 12px;
    }
}
@media(min-width:1900px){
    html{
        font-size: 16px;
    }
}