

@media(max-width:768px){
    html{
        font-size: 11px;
    }
    .aboutpage-container .sect-video{
        width: 100%;
    }
    .aboutpage-container .section-left{
        width: 80%;
    }
    .aboutpage-container .sect-foot .foot-rit{
        display: none;
    }
    .aboutpage-container .sect-foot .foot-left{
        width: 100%;
    }
    .aboutpage-container .sect-video{
        &:before{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.68);
            width: 100%;
        }
    }
    .leadership-container .section-combine .sect3 .arrow{
        display: none;
    }
    .leadership-container .section-combine .sect3{
        width: 49%;
        margin-top: 5px;
    }
    .leadership-container .section-combine {
        padding-right: 10%;
        padding-bottom: 0;
        padding-top: 0;
    }
    .navigation.nav-open .navigation-left{
        display: none;
    }
    .navigation.nav-open .navigation-right{
        width: 100%;
    }
    .navigation .navigation-right .inside-skew{
        transform: skewX(0);
    }
    .navigation .navigation-right .menulinks li{
        transform: skewX(0);
        padding-left: 4%;
    }
    .leadership-container .sect-ldtwo .sect-row{
        flex-wrap: wrap;
    }
    .leadership-container .sect-ldtwo .gridsect{
        transform: none;
        padding: 0 10%;
        .blank{
            display: none;
        }
    }
    .leadership-container .sect-ldtwo .colone{
        width: calc(50% - 10px);
        margin: 5px;
    }
    .leadership-container .sect-ldthree .sectin{
        &.blank{
            display: none;
        }
    }
    .leadership-container .sect-ldthree .sectin{
        width: calc(50% - 10px);
        margin: 5px;
    }
    .leadership-container .sect-ldthree{
        padding: 0 10%;

    }
    .leadership-container .sect-ldfour{
        padding: 0 10%;
        flex-wrap: wrap;
        .blank{
            display: none;
        }
        .leftsect,.ritsect{
            width: 100%;
        }
        .fourin2,.fourin{
            width: calc(50% - 10px);
            margin: 5px;
        }
      
    }
    .leadership-container{
        padding: 100px 0;
    }
    .navigation .navigation-right .inside-skew{
        background: #000;
    }
    .navigation .navigation-right{
        transform: translateX(-200vw) translateY(0) translateZ(0);
    }
    .corevalue-container .posimg{
        display: none;
    }
    
}
@media(max-width:767px){
    .leadershippop .sectdetails {
        position: relative;
        padding: 20% 30px;
    }
    .leadershippop .sectimage{
        margin-bottom: 60px;
        transform: none;
    }
    .linesimg-mob{
        display: block !important;
        margin: 74px 0 174px 0;
    }
    .linesimg{
        display: none;
    }
    .corevalue-container {
        padding: 21vh 15px;
        .core-wrapper{
            max-width: 500px;
           
        }
    }
    .corevalue-container .pos-sect{
        &.pos1{
            top: -6px;
            left: 35px;
        }
        &.pos2{
            top: 157px;
            left: 126px;
        }
        &.pos3{
            top: 328px;
            left: 80px;
        }
        &.pos4{
            top: 506px;
            left: 34px;
        }
        &.pos5{
            top: 677px;
            left: 126px;
        
        }
        &.pos6{
            top: 859px;
    left: 80px;
        }
    }
    .corevalue-container .heading{
        margin: 0 -20px;
    }
    
}

@media(max-width:600px){
    
    .sect-foot{
        display: none !important;
    }
    .header{
        padding: 20px 12px;
        background: #000;
    }
    .aboutpage-container .section .section-left{
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px;
    }
    .sect-foot-mobile{
        left: 0;
        bottom: 60px;
        z-index: 3;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex !important;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 12px;
        position: absolute;
        width: 100%;
      
        .number{
            font-size: 41px;
            color:#ffffff;
            font-weight: 800;
            margin-right: 24px;
        }
        h4{
            font-weight: 700;
        }
    }
    .page-link{
        a{
            font-size: 22px;
            color:#ffffff;
            text-transform: uppercase;
        }
    }
    .extras{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2000;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #000;
        
        .sociallinks{
            width: calc(100% - 170px);
            h4{
                display: none;
            }
            ul{
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
            li{
                list-style: none;
                padding: 0;
                a{
                    font-size: 22px;
                   
                }
            }
        }
    }
    .aboutpage-container .section-right{
        top: auto;
        bottom: 120px;
        z-index: 100;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .abt-wavelink{
            position: static;
            &:before{
                display: none;
            }
        }
    }
   
    
}


@media(max-width:480px){
    html {
        font-size: 8px;
    }
}


// @media(min-width:768px){

// }

@media(min-width:600px){
    // scoail links

.sociallinks{
    position: fixed;
    width: 50px;
    top:50%;
    left: 4%;
    transform: translateY(-50%);
    z-index: 4;
    display: flex;
    flex-direction: column;

    ul{
        padding: 0;
        margin: 0;
    }
    li{
        padding-bottom: 15px;
        list-style: none;
    }
    a{
        @include font-size(20); 
    }
    h4{
        transform: rotate(-180deg);
        width: auto;
        position: relative;
        bottom: 0;
        left: 0;    
        letter-spacing: 3px;
        color: #535252;
      @include font-size(18); 
      writing-mode: tb-rl;
    }
  
}

// enquire sect
.requate{
    position: fixed;
    right: 0px;
    top: 40%;
    transform: translateX(calc(50% - 52px)) translateY(-50%) rotate(90deg);
    -ms-transform:translateX(30px) translateY(-50%) rotate(90deg);
    z-index: 102;
}

}
@media(min-width:769px){
    html{
        font-size: 11px;
    }
    .leadership-container .section-combine .sect3-outer {
        text-align: right;
        transform: translateX(10%);
    }
    .leadership-container .section-combine .sect3:nth-child(3) {
        transform: translateY(-100%);
    }
    .leadership-container .section-combine .sect1 {
        width: 60%;
 
    }
    .leadership-container .sect-ldthree .threecol{
            width: 60%!important; 
    }
    .navigation .navigation-right{
        transform: translateX(-62.5vh) translateY(100%) translateZ(0);
    }
    .corevalue-container .core-wrapper{
        padding-left: 8%;
    }
    .corevalue-container .posimg{
        display: none;
    }
}
@media(min-width:768px){
    .leadershippop .sectdetails{
        padding: 0px 65px;
    }

}


// @media(min-width:991px){

// }
@media(min-width:1024px){
    .corevalue-container .posimg{
        display: block;
    }
}
// @media(min-width:1366px){
// }
@media(min-width:1500px){
    html{
        font-size: 12px;
    }
    .corevalue-container .core-wrapper {
        padding:0  30px;
    }
}
@media(min-width:1900px){
    html{
        font-size: 16px;
    }
}