/****Font Colors***/
$primary_color: #dd891a;
$heading_color: #fff;
$link_color: #fff;
$hover_color: #dd891a;
$color-active: #dd891a;
/****Font Colors***/
/****Default Colors***/
$red_color: #ec121a;
$blue_color: #1154fb;
$white_color: #FFF;
$yellow_color: #FF0;
$black_color: #000;
$green_color: #48b78d;
/****Default Colors***/
/****Background Colors***/
$background_color: #040405;
$table_bgcolor: #040405;
$th_bgcolor: #dd891a;
$th_color:#040405;
$td_color:#fff;
$table_bordercolor: darken($table_bgcolor,15%);
/****Background Colors***/
/****Site Fonts***/
$primary_font: 'Montserrat', sans-serif;
$secondary_font:  'Montserrat', sans-serif;
$heading_font:$primary_font;
/****SiteFonts***/
/****Button Styles***/
$button_background: #70b7b1;
$button_color :#FFF;
$button_border:#70b7b1 #70b7b1 #70b7b1;
/****Button Styles***/
$border-color: #70b7b1;

// =============================================
// Primary Break Points
// =============================================

// These should be used with the bp (max-width, xx) mixin
// where a min-width is used, remember to +1 to break correctly.
// If these are changed, they must also be updated in app.js

$bp-xsmall: 480px;
$bp-small: 600px;
$bp-medium: 768px;
$bp-large: 991px;
$bp-mlarge: 1024px;
$bp-xlarge: 1200px;
$bp-xxlarge: 1400px;
/**********************************/
$container-width:1180px;
$grid_gap : 30px;

