body{
    overflow: hidden;
}
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?793lzk');
    src:  url('fonts/icomoon.eot?793lzk#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?793lzk') format('truetype'),
      url('fonts/icomoon.woff?793lzk') format('woff'),
      url('fonts/icomoon.svg?793lzk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-forward:before {
    content: "\e904";
  }
  .icon-facebook-f:before {
    content: "\e900";
  }
  .icon-instagram:before {
    content: "\e901";
  }
  .icon-linkedin-in:before {
    content: "\e902";
  }
  .icon-twitter:before {
    content: "\e903";
  }
  
// header styles

.header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 36px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 101;
        .logoimg{
            width: rem(66);
            margin-right: rem(14);
            img{
                width: 100%;
            }
        }
        .logo-text{
            font-size: rem(33);
            color:#ffffff;
            font-weight: 400;
        }
        .logo a{
            display: flex;
            align-items: center;
        }
        .menuicon{
            width: rem(60);
            img{
                width: 100%;
            }
            .menuopen{
                display: block;
                cursor: pointer;
            }
            .menuclose{
                display: none;
                font-size: 26px;
                color:#959596;
                transition: .5s;
                img{
                    width: 33px;
                }
                &:hover{
                    color:$primary-color;
                    transition: .5s;
                }
            }
            &.open{
                .menuclose{
                    display: block;
                    display: block;
                    width: 158px;
                    transform: translateX(-38%);
                    cursor: pointer;
                }
                .menuopen{
                    display: none;
                }
            }
        }

   

}


.btnone{
  @include font-size(23); 
    color:#ffffff;
    border:1px solid $primary-color;
    border-radius: 5px;
    @include padding(15,20,15,20);  
    background: rgba(0, 0, 0, 0.58);
    font-weight: 600;
}

// about page
.aboutpage-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    [data-page] {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .section-left{
        left: 0;
        padding-left: 7.25%;
        width: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 2;
        overflow: hidden;
        max-width: 795px;
        box-sizing: content-box;
    }
    .section-right {
        right: 0;
        padding-right: 6.25%;
        width: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 2;
        overflow: hidden;
        .abt-wavelink{
            position: absolute;
            top: 50%;
            z-index: 12;
            right: 20%;
        }
    }
    .sect-video{
        width: 50%;
        height: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        overflow: hidden;
        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:before{
            position: absolute;
            left: -1px;
            width: 20%;
            top: 0;
            bottom: 0;
            content:'';
            background: rgba(0,0,0,1);
            background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
            background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
            background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
            background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
            background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
        }
    }
    .section{
        .section-left{
            display: flex;
            flex-direction: column;
            padding-top: 17vh;
            h2{
                @include font-size(34); 
                color:$primary-color;
                text-transform: uppercase;
                font-weight: 600;
                margin-bottom: 10px;
            }
            h3{
                @include font-size(34); 
                line-height: 1.8;
                font-weight: 200;
                display: block;
                display: -webkit-box;
                margin: 0 auto;
                -webkit-line-clamp: 7;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .sect-foot{
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        z-index: 3;
        .foot-left{
            max-width: 1224px;
            display: flex;
            align-items: center;
            padding-bottom: 20px;
            width: 77%;

            &>div{
                padding: 0 rem(43);
            }
        }
        .foot-rit{
            width: 178px;
            a{
                display: flex;
                height: 100%;
                width: 100%;
                background: #fff;
                color: #000;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: rem(34);
                transition: .5s;

                &:hover{
                    background: $primary-color;
                    transition: .5s;
                }
            }
            .icon-forward{
                color:#000;
                @include font-size(66); 
                &.inverse{
                    transform: rotate(-180deg);
                }
            }
            h6{
                color:#000;
                font-weight: 700;
            }
        }
        .number{
            @include font-size(72); 
            font-weight: 800;
            color:#fff;
            display: flex;
            flex-direction: column;
            a{
                @include font-size(24); 
                color:#535252;
                font-weight: 600;
                &:hover{
                    color: $primary-color;
                }
            }
        }
        .page-link{
            h4{
                @include font-size(24); 
                font-weight: 700;
                margin-bottom: rem(20);
            }
            h5{
                @include font-size(14); 
                font-weight: 200;
                line-height: 1.5;
                display: block;
                display: -webkit-box;
                margin: 0 auto;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &.active,&:hover{
                h4{
                    color:$primary-color;
                }
            }
        }
    }
    .sect-foot-mobile{
        display: none;
    }
}








